.project
.classpath
/bin/
restful-web-services/.idea/sonarIssues.xml
.idea/**
production/
spring_and_hibernate/.idea/inspectionProfiles/
spring_and_hibernate/.idea/sonarlint/
.idea/libraries/com_googlecode_json_simple_json_simple_1_1.xml
.idea/sonarIssues.xml
.idea/uiDesigner.xml


