.project
.classpath
/bin/
restful-web-services/.idea/sonarIssues.xml
.idea/**
production/
spring_and_hibernate/.idea/inspectionProfiles/
spring_and_hibernate/.idea/sonarlint/
.idea/libraries/com_googlecode_json_simple_json_simple_1_1.xml
.idea/sonarIssues.xml
.idea/uiDesigner.xml
./target/
/node_modules/
.DS_Store
RectObject
node_modules/
package-lock.json
src/main/java/TEST.class
src/main/java/com/restassured/restapi/com/.DS_Store
src/main/java/com/restassured/restapi/com/qa/.DS_Store
study.iml
