/A.class
/Animal.class
/Animal1.class
/Animal2.class
/Animal3.class
/B.class
/Call.class
/DemoInstanceOfEx1.class
/DemoInstanceOfEx2.class
/DemoInstanceOfEx3.class
/DemoInstanceOfEx4.class
/DemoInstanceOfEx5.class
/DemoInstanceOfEx6.class
/Dog.class
/Dog1.class
/Dog2.class
/Dog3.class
/Printable.class
